@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --rosa-claro: #ffe6f0;
  --rosa-medio: #f48fb1;
  --rosa-oscuro: #ad1457;
  --gradiente-rosa: linear-gradient(135deg, #f48fb1, #ffe6f0);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", serif;
}

/* Clases auxiliares personalizadas */
.bg-gradiente-rosa {
  background: var(--gradiente-rosa);
}

.text-rosa-oscuro {
  color: var(--rosa-oscuro);
}

.bg-rosa-oscuro {
  background-color: var(--rosa-oscuro);
}

.bg-rosa-medio {
  background-color: var(--rosa-medio);
}

.btn-negro {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #fff; /* Borde blanco visible */
  transition: all 0.3s ease;
}

.btn-negro:hover {
  background-color: var(--rosa-medio);
  color: #000;
  border-color: #000; /* Borde negro al pasar el mouse */
}

